<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Bond Viewer - Chart 1</title>

    <!-- Tailwind CSS via CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #eef;
          text-align: center;
          padding: 50px;
        }
        h1 {
          color: #336699;
        }
    </style>
</head>
<body>
  
<!-- Navbar -->
<div th:replace="~{navbar :: navbar}"></div>



</body>
</html>