<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Bond Viewer - Map 2</title>

    <!-- Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #eef;
          text-align: center;
          padding: 50px;
        }
        h1 {
          color: #336699;
        }
        #map2 {
          width: 900px;
          height: 500px;
        }
    </style>

    <!--  Google Charts Loader v0 -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      fetch('/bonds/average-profit-margin')
      .then(response => response.json())
      .then(jsonData => {
        console.log('Data fetched:', jsonData);
        google.charts.load('current', {
          packages: ['geochart'],
        });
        google.charts.setOnLoadCallback(() => drawChart(jsonData));
      })
      .catch(error => console.error('Error fetching data:', error));

      function drawChart(jsonData) {
        console.log(jsonData);
        let dataArray = [];
        dataArray.push(['Country', 'Average Profit Margin']);
        jsonData.forEach(item => {
          dataArray.push([item.country, item.averageProfitMargin]);
        });

        let data = google.visualization.arrayToDataTable(dataArray);

        let options = {
          title : 'Average Bond return % by Country'
        };

        let chart = new google.visualization.GeoChart(document.getElementById('map2'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
  
<!-- Navbar -->
<div th:replace="~{navbar :: navbar}"></div>

<!-- Map2 -->
<div class="flex items-center justify-center h-screen">
<div id="map2" class="pt-10 "></div>
</div>

<div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
</html>