<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Bond Viewer - Map 2</title>

    <!-- Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #eef;
          text-align: center;
          padding: 50px;
        }
        h1 {
          color: #336699;
        }
        #map2 {
          width: 900px;
          height: 500px;
        }
    </style>
    <!-- Google Charts Loader -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

     function drawRegionsMap() {

      var data = google.visualization.arrayToDataTable([
        ['Country', 'Popularity'],
        ['Germany', 200],
        ['United States', 300],
        ['Brazil', 400],
        ['Canada', 500],
        ['France', 600],
        ['RU', 700]
      ]);

      var options = {};

      var chart = new google.visualization.GeoChart(document.getElementById('map2'));

      chart.draw(data, options);
    };
    </script>
</head>
<body>
  
<!-- Navbar -->
<div th:replace="~{navbar :: navbar}"></div>

<!-- Map2 -->
<div id="map2" class="pt-10"></div>

<div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
</html>